<html>
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "psoclassic/css/furtive.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "psoclassic/css/style.css" %}">
<script src="{% static "psoclassic/js/two.min.js" %}"></script>
</head>
<body>
<div id="tela"></div>
<div id="menu">
    <div class="botaoMenuDiv">
        <a id="criaObjetivo" class="botaoMenu btn--red">Cria Objetivo</a>
    </div>
    <div class="botaoMenuDiv">
        <a id="criaObjetivo" class="botaoMenu btn--blue">Gera pop.</a>
    </div>
    <div class="botaoMenuDiv">
        <a id="criaObjetivo" class="botaoMenu btn--green">Limpar</a>
    </div>
</div>
</body>
</html>